homeassistant:
  name: Home Farm Close
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 10
  unit_system: metric
  time_zone: Europe/London
  customize: !include customize.yaml

frontend:
  themes: !include themes.yaml
config:
http:
  api_password: !secret http_password
  base_url: !secret base_url
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key

updater:
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
camera: !include cameras.yaml
weblink: !include weblinks.yaml
discovery:
history:
logbook:
logger:
  default: warn
  logs:
    #suppress the foscam errors
    urllib3.connectionpool: critical
map:
sun:
ios:
device_tracker:

zwave:
  usb_path: /dev/ttyACM0
  
tradfri:
  host: 192.168.1.97
  allow_tradfri_groups: false
zone:
  - name: SEL
    latitude: 53.201563
    longitude: -0.590652
    icon: mdi:laptop-mac

shell_command: !include shell_commands.yaml

switch:
  - platform: wake_on_lan
    mac_address: 40-8D-5C-C1-2F-4F
  - platform: flux
    lights:
      - light.bedroom
  - platform: command_line
    switches:
      pihole:
        command_on: "curl -X GET 'http://192.168.1.65/admin/api.php?enable&auth='"
        command_off: "curl -X GET 'http://192.168.1.65/admin/api.php?disable=3600&auth='"
        command_state: "curl -X GET 'http://192.168.1.65/admin/api.php?status'"
        value_template: "{{ value_json.status == 'enabled' }}"

input_boolean:
  enable_security:
    initial: on