/* SVG shapes */

svg, svg * {
  pointer-events: all;
}

/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

transparent {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

/* Bootstrap danger */

.danger-text {
  fill: #c09e9d !important;
}

.danger-background, .danger-text-background {
  fill: #df2b2b !important;
  fill-opacity: 1 !important;
  stroke: #50131d !important;
  stroke-width: 1px !important;
  pointer-events: none;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Light */

.light-off {
  fill: #c9caccff !important;
}

.light-on {
  fill: #F8D2B9 !important;
}
